{
  "root": true,
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "plugins": [
    "json",
    "react",
    "prettier"
  ],
  "rules": {
    "no-unused-vars": [
      0,
      {
        "varsIgnorePattern": "^h$"
      }
    ],
    "prettier/prettier": "error"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  }
}
